# 게임회사 다음 분기 계획 결정

## EDA

### 데이터 불러오기
* Name : 게임의 이름입니다.  
* Platform : 게임이 지원되는 플랫폼의 이름입니다.  
* Year : 게임이 출시된 연도입니다.  
* Genre : 게임의 장르입니다.  
* Publisher : 게임을 제작한 회사입니다.  
* NA_Sales : 북미지역에서의 출고량입니다.(단위 100만)  
* EU_Sales : 유럽지역에서의 출고량입니다.(단위 100만)  
* JP_Sales : 일본지역에서의 출고량입니다.(단위 100만)  
* Other_Sales : 기타지역에서의 출고량입니다.(단위 100만)

In [80]:
import pandas as pd
import numpy as np

In [81]:
# url
data_url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv'
# read
df = pd.read_csv(data_url, index_col = 0)

In [82]:
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [83]:
np.shape(df)

(16598, 9)

### 데이터 중복행 제거

In [84]:
df[df.duplicated()]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
9185,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0,0,0.02,0

In [85]:
df = df.drop_duplicates(ignore_index = True)

### 결측치 제거

In [86]:
df.isnull().sum()

Name             0
Platform         0
Year           270
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [87]:
df = df.dropna()

In [88]:
df.isnull().sum()

Name           0
Platform       0
Year           0
Genre          0
Publisher      0
NA_Sales       0
EU_Sales       0
JP_Sales       0
Other_Sales    0
dtype: int64

### 데이터내 이상값, 데이터형 처리
'Name', 'Publisher'는 고유명사이므로 처리하지 않고 코드북이 없을때도 유추할 수 있는 나머지 변수에서 이상값을 찾아 처리를 진행했다.

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16241 entries, 0 to 16596
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16241 non-null  object
 1   Platform     16241 non-null  object
 2   Year         16241 non-null  float64
 3   Genre        16241 non-null  object
 4   Publisher    16241 non-null  object
 5   NA_Sales     16241 non-null  object
 6   EU_Sales     16241 non-null  object
 7   JP_Sales     16241 non-null  object
 8   Other_Sales  16241 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.2+ MB

#### Name

In [129]:
df.loc[:,'Name'].unique()

array(["Candace Kane's Candy Factory", 'The Munchables',
       'Otome wa Oanesama Boku ni Koi Shiteru Portable', ...,
       'White Album: Tsuzurareru Fuyu no Omoide', 'Minna no Chizu 2',
       'Rainbow Islands: Revolution'], dtype=object)

#### Platform
이상값은 없어 보인다

In [90]:
df.loc[:,'Platform'].unique()

array(['DS', 'Wii', 'PSP', 'PS3', 'PC', 'PS', 'GBA', 'PS4', 'PS2', 'XB',
       'X360', 'GC', '3DS', '2600', 'SAT', 'GB', 'NES', 'DC', 'N64',
       'XOne', 'SNES', 'WiiU', 'PSV', 'GEN', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

#### Year
데이터형 변경: 'float' -> 'int'  
* 년도는 정수이므로 데이터형을 변경한다.

70이상 100이하는 1900을 더하고 70미만은 2000을 더함
* 상업적 게임이 나온 첫 시기는 70년대 이므로 70이상은 1900년대로 처리, 70미만은 2000년대로 처리한다.

In [91]:
df.loc[:,'Year'] = df.loc[:,'Year'].astype('int')

In [92]:
df.loc[:,'Year'].unique()

array([2008, 2009, 2010, 2005, 2011, 2007, 2001, 2003, 2006, 2014, 2015,
       2002, 1997, 2013, 1996, 2004, 2000, 1984, 1998, 2016, 1985, 1999,
          9,   97, 1995, 1993, 2012, 1987, 1982,   11, 1994, 1990,   15,
       1992, 1991, 1983, 1988, 1981,    3, 1989,   96,    6,    8, 1986,
          1,    5,    4,   10,   98,    7,   16,   86,   14,   95, 2017,
       1980, 2020,    2,   13,    0,   12,   94])

In [121]:
# 70이상 100이하는 1900을 더하고 70미만은 2000을 더함
df['Year'] = df['Year'].apply(lambda x: x+1900 if (x>=70)&(x<100) else x+2000 if x<70 else x)

In [122]:
df.loc[:,'Year'].unique()

array([2008, 2009, 2010, 2005, 2011, 2007, 2001, 2003, 2006, 2014, 2015,
       2002, 1997, 2013, 1996, 2004, 2000, 1984, 1998, 2016, 1985, 1999,
       1995, 1993, 2012, 1987, 1982, 1994, 1990, 1992, 1991, 1983, 1988,
       1981, 1989, 1986, 2017, 1980, 2020])

#### Genre
이상값은 없어 보인다

In [124]:
df.loc[:,'Genre'].unique()

array(['Action', 'Adventure', 'Misc', 'Platform', 'Sports', 'Simulation',
       'Racing', 'Role-Playing', 'Puzzle', 'Strategy', 'Fighting',
       'Shooter'], dtype=object)

#### Publisher

In [128]:
df.loc[:,'Publisher'].unique()

array(['Destineer', 'Namco Bandai Games', 'Alchemist', 'Zoo Games',
       'D3Publisher', 'Konami Digital Entertainment', 'Deep Silver',
       'Tecmo Koei', 'Sega', 'THQ', 'Empire Interactive', 'Ubisoft',
       'Paradox Interactive', '505 Games', 'Tomy Corporation',
       'Eidos Interactive', 'Microsoft Game Studios',
       'Nippon Ichi Software', 'Kalypso Media', 'Electronic Arts',
       'Sony Computer Entertainment', 'Activision',
       'Tru Blu Entertainment', 'Warner Bros. Interactive Entertainment',
       'Midway Games', 'Mindscape', 'Wargaming.net', 'Capcom',
       'Acclaim Entertainment', 'Unknown', 'Nintendo',
       'Disney Interactive Studios', 'Crave Entertainment', 'Sunflowers',
       'Arc System Works', 'Milestone S.r.l', 'Kamui', 'Hudson Soft',
       'Square Enix', 'Focus Home Interactive', 'Take-Two Interactive',
       'Game Factory', 'Takara Tomy', 'SquareSoft', 'Global Star',
       'Infogrames', 'GT Interactive', 'Storm City Games',
       'Gathering of Developers', 'Giza10', 'Imagineer', 'Atari',
       'SouthPeak Games', 'Graffiti', 'Banpresto', 'Gust',
       'From Software', 'TDK Mediactive', '5pb', 'Nobilis', 'Taito',
       'Foreign Media Games', 'Nippon Columbia', 'Vivendi Games',
       'Codemasters', 'Bethesda Softworks', '3DO', 'Enix Corporation',
       'Ignition Entertainment', 'ASCII Media Works',
       'Virgin Interactive', 'Easy Interactive', 'SCi', 'Idea Factory',
       'Jaleco', 'Majesco Entertainment', 'ArtDink', 'System Soft',
       'CBS Electronics', 'Kaga Create', 'Phantagram',
       'Zoo Digital Publishing', 'BAM! Entertainment',
       'Jester Interactive', 'Quinrose', 'Game Arts', 'Headup Games',
       'Rising Star Games', 'TGL', 'Gremlin Interactive Ltd',
       '10TACLE Studios', 'Activision Value', 'responDESIGN',
       'Rage Software', 'Little Orbit', 'Marvelous Interactive',
       'Avanquest', 'Marvelous Entertainment', 'Kadokawa Shoten',
       'Compile Heart', 'Takara', 'Seta Corporation', 'Comfort',
       'LucasArts', 'NEC Interchannel', 'SNK Playmore', 'Russel', 'FuRyu',
       'dramatic create', 'Koch Media', 'LSP Games', 'Microids',
       'Psygnosis', 'Culture Brain', 'Saurus', 'Hackberry',
       'FuRyu Corporation', 'Midas Interactive Entertainment',
       'Office Create', 'Media Factory', 'Asylum Entertainment',
       'ValuSoft', 'Universal Interactive', 'bitComposer Games',
       'Rocket Company', 'Atlus', 'Number None', 'Genki', 'Compile',
       'Telltale Games', 'UFO Interactive', 'Magix', 'NewKidCo', 'Coleco',
       'Harmonix Music Systems', 'Sting', 'Hudson Entertainment',
       'Ghostlight', 'Sunsoft', 'Spike', 'Home Entertainment Suppliers',
       'Screenlife', 'Moss', 'Ubisoft Annecy', 'Oxygen Interactive',
       'Kemco', 'P2 Games', 'Datam Polystar', 'Palcom', 'Enterbrain',
       'Starfish', '20th Century Fox Video Games', 'Xplosiv',
       'Scholastic Inc.', 'Phenomedia', 'GOA', 'Yamasa Entertainment',
       'MTV Games', 'PQube', 'Aqua Plus', 'Daedalic',
       'ASCII Entertainment', 'Nordic Games', 'Ongakukan',
       'Interchannel-Holon', 'Avanquest Software', 'Black Bean Games',
       'DTP Entertainment', 'NEC', 'Black Label Games',
       'O3 Entertainment', 'Micro Cabin', 'Marvel Entertainment',
       'Telegames', 'Hasbro Interactive', 'Tigervision', 'Funsta',
       'Kadokawa Games', 'Success', 'Level 5', 'Sammy Corporation',
       'Axela', 'Milestone S.r.l.', 'Agatsuma Entertainment', 'Vap',
       'System 3 Arcade Software', 'Broccoli', 'Media Rings', 'Interplay',
       'Swing! Entertainment', 'Fox Interactive', 'Aques',
       'DreamCatcher Interactive', 'General Entertainment',
       'Sony Online Entertainment', 'Shogakukan', 'Rebellion',
       'Starpath Corp.', 'Square', 'Quintet', 'Touchstone', 'Mumbo Jumbo',
       'Epoch', 'Parker Bros.', 'TDK Core', 'Mattel Interactive',
       'Prototype', 'Merscom LLC', 'Insomniac Games',
       'Human Entertainment', 'Nichibutsu', 'Playlogic Game Factory',
       'Ocean', 'Cloud Imperium Games Corporation', 'Funcom',
       'Hamster Corporation', 'Idea Factory International',
       'Destination Software, Inc', 'DHM Interactive', 'Myelin Media',
       'SNK', 'Licensed 4U', 'GSP', 'City Interactive', 'PopCap Games',
       'AQ Interactive', 'Victor Interactive', 'Titus',
       'Excalibur Publishing', 'Popcorn Arcade', 'Valcon Games', 'Mojang',
       'Metro 3D', 'Vatical Entertainment', 'ChunSoft', 'Astragon',
       'CyberFront', 'Big Ben Interactive', 'Big Fish Games',
       'Conspiracy Entertainment', 'Naxat Soft', 'Paon Corporation',
       'Bigben Interactive', 'MediaQuest', 'Blast! Entertainment Ltd',
       'Data Design Interactive', 'Nexon', 'Neko Entertainment', 'iWin',
       'Introversion Software', 'GameMill Entertainment', 'Play It',
       'Asgard', 'ASC Games', '989 Studios', 'MTO', 'Mercury Games',
       'Navarre Corp', 'Boost On', 'Maxis', 'Rondomedia',
       'MC2 Entertainment', 'CDV Software Entertainment', 'Funbox Media',
       'Angel Studios', 'Xseed Games', 'Performance Designed Products',
       'Sony Computer Entertainment Europe', 'Wanadoo',
       'Lexicon Entertainment', 'Aruze Corp', 'TopWare Interactive',
       'Virtual Play Games', 'Seventh Chord', 'JoWood Productions',
       'Pinnacle', 'Iceberg Interactive', 'Agetec', 'Mastertronic',
       'Vic Tokai', 'ITT Family Games', 'Gameloft',
       'Sony Music Entertainment', 'Mastiff', 'imageepoch Inc.',
       'Arena Entertainment', 'TOHO', 'Bomb', 'Interchannel',
       'LEGO Media', 'Grand Prix Games', 'Mitsui', 'Zushi Games',
       'O-Games', 'NCSoft', 'Arika', 'CPG Products',
       'Slitherine Software', 'Alternative Software', 'Data Age',
       'Plenty', 'PlayV', 'Karin Entertainment', 'Knowledge Adventure',
       'Valve Software', 'Gotham Games', 'Pioneer LDC', 'Genterprise',
       'G.Rev', 'Kids Station', 'Asmik Ace Entertainment',
       'Monte Christo Multimedia', 'Cave', 'Milestone', 'Views',
       'Benesse', 'Encore', 'XS Games', 'Avalon Interactive',
       'EON Digital Entertainment', 'Mentor Interactive',
       'Irem Software Engineering', 'Brash Entertainment',
       'Flashpoint Games', 'Imagic', 'KID', 'Media Works', 'Altron',
       'Mirai Shounen', 'SSI', 'Strategy First',
       'Ascaron Entertainment GmbH', 'Natsume', 'Warashi', 'IE Institute',
       'Warp', 'Mad Catz', 'NCS', 'The Learning Company', 'Sweets',
       'Game Life', 'HMH Interactive', 'Xicat Interactive',
       'Rebellion Developments', 'Yeti', 'Ackkstudios',
       'CokeM Interactive', 'Evolved Games', 'Video System',
       'Aksys Games', 'PM Studios', 'Coconuts Japan',
       'Sunrise Interactive', 'Bohemia Interactive', "Yuke's", 'Tivola',
       'GungHo', 'Tradewest', 'Tommo', 'GN Software', 'Gaga', 'Aspyr',
       'Trion Worlds', 'Revolution (Japan)', 'Misawa', 'Pack-In-Video',
       'Hect', 'TalonSoft', 'Aerosoft', 'RTL', 'Minato Station',
       'Activision Blizzard', 'Playmates', 'CTO SpA',
       'BMG Interactive Entertainment', 'Media Entertainment',
       'Hip Interactive', 'Acquire', 'Jack of All Games',
       'The Adventure Company', 'Epic Games', 'DSI Games', 'Fortyfive',
       'Indie Games', 'NovaLogic', 'Happinet', 'Reef Entertainment',
       'Masque Publishing', 'Imadio', 'Microprose', 'Falcom Corporation',
       'Square EA', 'Red Storm Entertainment', 'Dusenberry Martin Racing',
       'Sonnet', 'Tripwire Interactive', 'RED Entertainment',
       'Global A Entertainment', 'Athena', 'Groove Games',
       'Mud Duck Productions', 'Ertain', 'System 3', 'Marvelous Games',
       'Gamecock', 'Panther Software', 'Playmore', 'Vir2L Studios',
       'mixi, Inc', 'HAL Laboratory', 'BushiRoad', 'Jorudan', 'JVC',
       'Alawar Entertainment', 'Inti Creates', 'Laguna', 'NetRevo',
       'Daedalic Entertainment', 'Time Warner Interactive',
       'Slightly Mad Studios', 'Max Five', 'Devolver Digital', 'CCP',
       'Flight-Plan', 'Quelle', 'Dorart', 'ESP', 'Answer Software',
       'Phoenix Games', 'Yumedia', 'Elite', 'Elf', 'Nordcurrent', 'New',
       'Paon', 'Nihon Falcom Corporation', 'Commseed', 'BPS', 'Tryfirst',
       'FunSoft', 'Legacy Interactive', 'Princess Soft',
       'Graphsim Entertainment', 'Creative Core',
       'Electronic Arts Victor', 'Mamba Games', 'Her Interactive',
       'Maximum Family Games', 'DreamWorks Interactive', 'Detn8 Games',
       'Universal Gamex', 'Hearty Robin', 'GameTek', 'RedOctane',
       'U.S. Gold', 'Wizard Video Games',
       'Sony Computer Entertainment America', 'Telstar',
       'Yacht Club Games', 'PopTop Software', 'Experience Inc.',
       'Michaelsoft', 'Gakken', 'T&E Soft', 'Origin Systems',
       'Gainax Network Systems', 'inXile Entertainment',
       'Focus Multimedia', 'SCS Software', 'Hello Games',
       'Essential Games', 'Xing Entertainment', 'Riverhillsoft',
       '1C Company', 'Data East', 'Mycom', '7G//AMES', 'DigiCube', 'Fuji',
       'Simon & Schuster Interactive', 'Pow',
       'Pacific Century Cyber Works', 'Extreme Entertainment Group',
       'Image Epoch', 'Core Design Ltd.', 'Otomate', 'Piacci', 'ASK',
       'WayForward Technologies', 'Pack In Soft', 'Red Orb', 'Takuyo',
       'UIG Entertainment', 'Crystal Dynamics', 'Blue Byte', 'Rain Games',
       'Gamebridge', 'New World Computing', 'fonfun', 'Berkeley',
       'Interworks Unlimited, Inc.', 'Societa', 'On Demand',
       'Crimson Cow', 'Griffin International', 'Visco', 'Syscom',
       'King Records', 'Tetris Online', 'EA Games', 'Locus',
       'Paradox Development', 'Nippon Telenet', 'Accolade', 'id Software',
       'HuneX', 'Interplay Productions', 'Evolution Games',
       'Kokopeli Digital Studios', 'Ascaron Entertainment', '989 Sports',
       'Illusion Softworks', 'Kando Games', 'Pony Canyon', 'Intergrow',
       'Glams', 'Nitroplus', 'Zenrin', 'Team17 Software', 'Fields',
       'Havas Interactive', '49Games', 'Alvion', 'Quest', 'Imageworks',
       'Stainless Games', 'Daito', 'Enjoy Gaming ltd.', 'Aria',
       'Kool Kizz', 'Sold Out', 'Magical Company', 'Imax', 'Summitsoft',
       'Cygames', 'Men-A-Vision', 'Adeline Software',
       'Revolution Software', 'Valve', 'Codemasters Online', 'TYO',
       'Phantom EFX', 'Liquid Games', 'American Softworks', 'SPS', 'Edia',
       'Nippon Amuse', 'Asmik Corp', 'MLB.com', 'White Park Bay Software',
       'Abylight', 'Ecole', 'TechnoSoft', 'Culture Publishers',
       'Ivolgamus', '2D Boy', 'Technos Japan Corporation', 'Giga',
       'Westwood Studios', 'UEP Systems', 'KSS', 'Type-Moon',
       'Lighthouse Interactive', 'NDA Productions', 'Mystique'],
      dtype=object)

#### NA_Sales
숫자, 숫자M, 숫자K 3경우 데이터가 보인다. 이들 단위를 100만으로 맞춰준다.
* 숫자: 단위 100만으로 나둔다.
* 숫자M: 단위는 100만으로 맞으므로 M만을 제거한다.
* 숫자K: 단위가 1천으로 K를 제거 후 1,000으로 나눈다.
* 소수점 3째자리 부터 절삭한 것으로 보인다.  

데이터형 변경: 'object' -> 'float'  
* sales는 출고량이므로 float로 변경(단위 100만)

In [127]:
df.loc[:,'NA_Sales'].unique()

array(['0.04', '0.17', '0', '0.12', '0.02', '0.07', '480K', '0.14',
       '0.01', '0.57', '0.06', '0.08', '0.48', '0.03', '0.05', '0.29',
       '0.19', '0.3', '0.26', '0.11', '0.18', '0.33', '0.51', '60K',
       '0.13', '0.34', '0.25', '0.41', '0.52', '0.22', '0.35', '0.1',
       '0.67', '0.59', '0.36', '0.21', '1.19', '5.91', '1.98', '0.09',
       '0K', '0.5', '0.94', '0.16', '0.63', '0.43', '0.2', '1.23', '0.44',
       '0.42', '0.97', '2.67', '0.28', '6.05', '0.47', '0.49', '0.62',
       '0.24', '0.72', '1.74', '0.46', '0.65', '0.32', '1.53', '0.23',
       '0.53', '0.37', '1.26', '0.39', '0.58', '1.94', '2.31', '1.03',
       '0.82', '0.4', '0.93', '0.56', '0.96', '1.64', '0.69', '1.25',
       '0.27', '0.92', '0.58M', '1.24', '0.25M', '0.86', '0.73', '0.55',
       '1.54', '1.02', '1.27', '0.54', '0.15', '1.09', '3.44', '2.29',
       '0.88', '5.55M', '1.37', '2.3', '0.99', '1.15', '0.98', '0.75',
       '0.74', '0.7', '0.14M', '0.45', '1.2', '1.41', '0.68', '1.23M',
       '1.56', '0.31', '1.45', '1.11', '2.9', '0M', '0.83', '0.78',
       '3.38', '0.64', '1.08', '0.38', '1.47', '0.06M', '0.77', '1.05',
       '6.85', '3.83', '3.79', '1.13M', '0.9', '3.78', '1.89', '1.17',
       '4.03', '0.89', '0.61', '0.71', '23.2', '1.44', '1.31', '3.06',
       '3.14', '1.66', '0.79', '1.39', '0.31M', '490K', '1.85', '0.76',
       '2.06', '1.36', '1.3', '1.06', '1.1', '240K', '2.08', '1.04',
       '0.66', '2.64', '1.58', '0.05M', '3.11', '4.34', '150K', '1.78',
       '0.85', '2.91', '0.13M', '1', '1.01', '4100K', '1.07', '3.8',
       '2.5', '2.2', '1.5', '1.91', '0.95', '2.03', '2.1', '1.4', '3.18',
       '1.73', '1.12', '1.72', '2.05', '1.63', '1.22', '1.13', '1.49',
       '2.55', '0.87', '0.81', '0.6', '0.61M', '2.62', '0.84', '2.38',
       '1.32', '20K', '3.02', '1.75', '2.02', '1.82', '1.68', '9.03',
       '2.56', '1.87', '2.65', '1.48', '3.19', '1.33', '41.49', '30K',
       '1.93', '1.16', '1.21', '0.02M', '2.52', '2.28', '5.99', '14.03',
       '2.93', '2.45', '0.11M', '2.14', '2.99', '0.01M', '2.6', '1.35',
       '0.36M', '50K', '1.28', '2.95', '70K', '15.75', '1.18', '1.42',
       '8.94', '7.01', '190K', '1.62', '0.91', '0.8', '2.09', '1.96',
       '1.52', '2.39', '1.79', '0.43M', '2.19', '1.43', '1.76', '2.78',
       '1.3M', '1.71', '29.08', '3.13', '3.1', '4.99', '4.23', '2.35',
       '14.97', '1.65', '1210K', '2.26', '3.64', '2.71', '3.49', '3.33',
       '1.46', '1.7', '4.4', '4.02', '2.53', '1610K', '2.01', '100K',
       '1.55', '4.47', '1.9', '2.25', '3.98', '2.51', '1.61', '1.84',
       '1.81', '170K', '8.41', '2.11', '2.74', '2.42', '3.92', '6.72',
       '2.54', '4', '0.9M', '40K', '2.12', '7.28', '2.13', '1.59', '1.88',
       '3.39', '450K', '2.96', '8.52', '2.82', '9.67', '7.97', '8.25',
       '1.86', '1.67', '1.51', '6.91', '1.57', '3.88', '3.27', '4.14',
       '1.92', '220K', '1.29', '2.04', '1.11M', '310K', '0.07M', '2.15',
       '6.16', '4.09', '11.38', '1.69', '1.34', '820K', '2.17', '80K',
       '4.36', '2.8', '290K', '3.05', '130K', '5.39', '2.66M', '2.47',
       '4.15', '4.46', '1.18M', '11.27', '1.38', '3.66', '4.12', '0.55M',
       '2.41', '2.57', '2', '2.58', '5.89', '2.18', '1.99', '2.72',
       '2.36', '120K', '0.08M', '0.22M', '5.77', '3.68', '3.23', '5.84',
       '9', '2.85', '10.83', '6.82', '3.54', '0.3M', '0.04M', '3.42',
       '6.99', '1780K', '2930K', '1.14', '2.49', '5.98', '2.33', '1.97',
       '5.58', '0.15M', '0.1M', '3.7', '2.07', '4.41', '1.83', '0.29M',
       '4.98', '10K', '280K', '2.43', '26.93', '6.42', '3.81', '5.57',
       '9.81', '0.37M', '0.12M', '3.28', '3.74', '540K', '2.66', '9.09',
       '1.77', '9.63M', '6.06', '4.79', '2.59', '2.48', '0.34M', '2.97',
       '2.63', '4.74', '9.07', '0.26M', '3.51', '1.6', '5.03', '3.22',
       '3.01', '2.22', '2.77', '3.25', '550K', '2010K', '5.8', '3.59',
       '2.4', '1.95', '5.08', '770K', '2.84', '15.85', '7.03M', '4.89',
       '3.24', '4.01', '340K', '2.32', '3.4', '90K', '12.78', '2.21',
       '3.36', '4.75', '600K', '0.46M', '0.03M', '6.76', '2570K', '3',
       '4.05', '5.54', '0.72M', '2.75', '3.21', '6.63', '9.43', '3.03',
       '3.5', '2.7', '0.96M', '9.54', '6.75', '3.63', '270K', '420K',
       '0.28M', '2.79', '4.21', '2.23', '4.52', '0.45M', '720K', '2.89',
       '0.53M', '4.76', '470K', '14.59', '320K', '4.18'], dtype=object)

지역에 따라서 선호하는 게임 장르가 다를까

연도별 게임의 트렌드가 있을까

출고량이 높은 게임에 대한 분석 및 시각화 프로세스